.faq {
  background:white;
  padding:20px 20px;
  border-radius:4px;
  font-family: 'Roboto', sans-serif;
  line-height:1.5;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom:10px;
    font-weight:500;
  }

  h1 {
    font-size:36px;
  }

  h2 {
    font-size:30px;
  }

  h3 {
    font-size:24px;
  }

  h4 {
    font-size:18px;
  }

  h5 {
    font-size:14px;
  }

  h6 {
    font-size:12px;
  }

  code {
    padding:9px 14px;
    display:inline-block;
    margin:5px 0px 14px 0px;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
    border-radius:4px;
  }


}

#faq-btn-area {
  width:100%;
  text-align:center;
  margin:10px 0;

  .btn {
    display:inline-block;
    padding:10px 20px;
    border-radius:4px;
    background:white;
    color:black;
    text-decoration:none;
    margin:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition:box-shadow 0.4s;

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &.active {
      text-decoration:underline;
    }
  }
}
