#info {
  h3 {
    font-size:24px;
    font-weight:bold;
    color:$main_color;

  }

  p {
    background:rgba(37,51,50,0.5);
    color:white;
    display:inline-block;
    padding:10px;
    border-radius:5px;
    margin-top:20px;

  }
}