@import 'vars';

#login {
  color:$main_color!important;
  position:fixed;
  width:300px;
  background:white;
  text-align:center;
  border-radius:4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left:calc(50% - 150px);
  top:calc(50% - 150px);
  padding-bottom:5px;

  form {
    margin-top:10px;
    margin-bottom:10px;
    text-align:left;
    .center {
      text-align:center;
    }
    button {
      margin-top:15px;
      transition:box-shadow 0.4s;

      &:hover {
        background:white!important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}
