@import "compass/utilities/sprites";
@import "compass/css3/border-radius";
@import "compass/utilities/sprites/base";
@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

$main_color: #253332; //dark
$second_color: #ff5722; //orange
$third_color: #00B286; //mint
$fourth_color: white; //white

$success_color: #8bc34a; //green
$builder-nav-color: #948e8c; //grey
$search_bg: #303d3c;

$font_title: 'Oswald', sans-serif;
$font_main: 'Open Sans', sans-serif;
$font_second: 'Roboto', sans-serif;

@mixin trans {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@mixin borderbox {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

@mixin hover-trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
