<div id="iModal">
  <i class="fa fa-info"></i><i class="fa fa-times"></i>
  <h2>
    users_<span>username</span>
  </h2>
  <div class="options">
    <ul id="listOne">
      <li>
      <input id="string" name="tableType" type="radio" /><label for="string"><i class="fa fa-font"></i> String</label>
      </li>
      <li>
      <input checked="checked" id="integer" name="tableType" type="radio" /><label for="integer"><i class="fa fa-font"></i> Integer</label>
      </li>
      <li>
      <input id="date" name="tableType" type="radio" /><label for="date"><i class="fa fa-font"></i> Date</label>
      </li>
      <li>
      <input id="float" name="tableType" type="radio" /><label for="float"><i class="fa fa-database"></i> Float</label>
      </li>
      <li>
      <input id="file" name="tableType" type="radio" /><label for="file"><i class="fa fa-font"></i> File</label>
      </li>
    </ul>
    <ul id="listTwo">
      <li>
      <input id="presence" type="checkbox" /><label for="presence">Presence</label>
      </li>
      <li>
      <input id="size" type="checkbox" /><label for="size">Size</label>
      </li>
      <li>
      <input id="uniqueness" type="checkbox" /><label for="uniqueness">Uniqueness</label>
      </li>
      <li>
      <input id="format" type="checkbox" /><label for="format">Format</label>
      </li>
    </ul>
    <div class="actions">
      <a class="btn delete" href="#">Delete</a><a class="btn save" href="#">Save</a><a class="btn cancel" href="#">Cancel</a>
    </div>
  </div>
</div>
