<h2>
  {{collection.name}}
</h2>
<ul>
  {{#each field in collection.fields}}
    {{#unless field.internal}}
      {{field-label model=field action='openModal'}}
    {{/unless}}
  {{/each}}

  {{#if view.shouldShowMore}}
    <li class="more"><span>+{{view.extraPublicFields}} more</span></li>
  {{/if}}
</ul>
