<h2>
  {{entity.name}}
</h2>
<ul>
  {{#each field in entity.fields}}
    {{field-label model=field action='openModal'}}
  {{/each}}

  {{#if model.hasLotsOfFields}}
    <li class="more"><span>+3 more</span></li>
  {{/if}}
</ul>
