<p>If we don't yet provide an adapter for the language you desire,
please give us a shout. In the meantime you can follow the
instructions below to manually sign your requests.</p>

<h2>
  How does it work?
</h2>

<p>Before making the API call, combine the HTTP method
(GET, POST, etc), the utc timestamp of the request, with the
string representation of your parameters. Hash (HMAC-SHA1) the
blob of data (from Step #1) with your private key assigned to you
by the system. Send the server the following data in the header
of your request:</p>

<ul>
  <li>* Your app Public Key assigned to you by the system. This
  is a public value that anyone (even evil masterminds can know
  and you don’t mind). It is just a way for the system to know
  WHO is sending the request, not if it should trust the sender
  or not (we figure that out based on the HMAC);</li>
  <li>* Send the utc timestamp, in seconds, of the request;</li>
  <li>* Send the HASH (HMAC) you generated;</li>
  <li>* Send all the data (parameters and values) you were
  planning on sending anyway, like
  <code>mode=start&number=4&order=desc</code>.</li>
</ul>

<p>A request to create an entry in the books entity for a given
app would provide:</p>

<pre>
POST /api/books

Headers:
{
  "X-Request-Timestamp" => "1431193906",
  "X-Access-Token" => "dbd45b1f22532beb8c9a55531a94b67a6d2960ef1c586f384de1c997657ae348",
  "X-Request-Hash" => "ce75fcb8d688e235761027bef2055098b061c664"
}

Parameters:
{
  "name" => "The Lord Of The Rings: The Return of the King",
  "pages" => 490
}
</pre>

{{#each entity in model.entities}}
  {{render 'app.docs.entity' entity}}
{{/each}}
