<h3>
  <i class="fa fa-sort-desc" {{action 'toggleEntityOpen' target=view bubbles=false}}></i>
  {{entity.name}}
</h3>
<ul class="table-list">
  {{#each field in entity.fields}}
    {{#field-label model=field action='openModal'}}
      <i class="field-inspector fa fa-info"></i>
    {{/field-label}}
  {{/each}}
</ul>
