<nav id="builderNav">
  <div id="search">
    <i class="fa fa-search"></i><input placeholder="Search" type="text" />
  </div>
  <aside class="open active">
    <h3>
      <i class="fa fa-sort-desc"></i> USERS
    </h3>
    <ul class="table-list">
      <li>
      <i class="fa fa-database"></i> id <i class="fa fa-info"></i>
      </li>
      <li class="active">
      <i class="fa fa-font"></i> username <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> email <i class="fa fa-info"></i>
      </li>
    </ul>
  </aside>
  <aside class="open">
    <h3>
      <i class="fa fa-sort-desc"></i> Artists
    </h3>
    <ul class="table-list">
      <li>
      <i class="fa fa-database"></i> id <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> username <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> email <i class="fa fa-info"></i>
      </li>
    </ul>
  </aside>
  <aside>
    <h3>
      <i class="fa fa-sort-desc"></i> Albums
    </h3>
    <ul class="table-list">
      <li>
      <i class="fa fa-database"></i> id <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> username <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> email <i class="fa fa-info"></i>
      </li>
    </ul>
  </aside>
  <aside>
    <h3>
      <i class="fa fa-sort-desc"></i> Tracks
    </h3>
    <ul class="table-list">
      <li>
      <i class="fa fa-database"></i> id <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> username <i class="fa fa-info"></i>
      </li>
      <li>
      <i class="fa fa-font"></i> email <i class="fa fa-info"></i>
      </li>
    </ul>
  </aside>
  <a class="newtable" href="#">New table</a>
</nav>

<section id="contentHolder">
  <div class="row">
    <div class="tableWrapper">
      <div class="table">
        <h2>
          users
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
          <li>
          <i class="fa fa-font"></i> firstname
          </li>
          <li>
          <i class="fa fa-font"></i> lastname
          </li>
          <li class="more">
          <span>+3 more</span>
          </li>
        </ul>
      </div>
      <div class="table">
        <h2>
          artists
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
        </ul>
      </div>
      <div class="table">
        <h2>
          users
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
          <li>
          <i class="fa fa-font"></i> firstname
          </li>
          <li>
          <i class="fa fa-font"></i> lastname
          </li>
          <li class="more">
          <span>+3 more</span>
          </li>
        </ul>
      </div>
      <div class="table">
        <h2>
          users
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
          <li>
          <i class="fa fa-font"></i> firstname
          </li>
          <li>
          <i class="fa fa-font"></i> lastname
          </li>
          <li class="more">
          <span>+3 more</span>
          </li>
        </ul>
      </div>
      <div class="table">
        <h2>
          users
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
          <li>
          <i class="fa fa-font"></i> firstname
          </li>
          <li>
          <i class="fa fa-font"></i> lastname
          </li>
          <li class="more">
          <span>+3 more</span>
          </li>
        </ul>
      </div>
      <div class="table">
        <h2>
          users
        </h2>
        <ul>
          <li>
          <i class="fa fa-database"></i> id
          </li>
          <li>
          <i class="fa fa-font"></i> username
          </li>
          <li>
          <i class="fa fa-font"></i> email
          </li>
          <li>
          <i class="fa fa-font"></i> firstname
          </li>
          <li>
          <i class="fa fa-font"></i> lastname
          </li>
          <li class="more">
          <span>+3 more</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
