<nav id="builderNav">
  <div id="search">
    <i class="fa fa-search"></i><input placeholder="Search" type="text" />
  </div>
  {{#each entity in model.entities}}
    {{view 'builder.entity'}}
  {{/each}}

  <a class="newtable" href="#">New entity</a>
</nav>

<section id="contentHolder">
  <div class="row">
    <div class="tableWrapper">
      {{#each entity in model.entities}}
        {{view 'builder.preview-entity'}}
      {{/each}}
    </div>
  </div>
</section>
