<div id="topbar">
  <h1>
    <a href="#">API Engine</a>
  </h1>
  <div id="usericon">
    <i class="fa fa-user"></i>
  </div>
</div>
<div id="subbar">
  <h2>
    <a href="#">Apps</a>
  </h2>
  <a href="#" id="new_btn">New</a>
</div>
<section id="appArea">
  {{outlet}}
</section>
