<nav id="builderNav">
  <div id="search">
    <i class="fa fa-search"></i><input placeholder="Search" type="text" />
  </div>

  {{#each collection in model}}
    {{view 'collections.details'}}
  {{/each}}

  {{#link-to 'collections.new' class='newtable'}}
    New Collection
  {{/link-to}}
</nav>

<section id="contentHolder">
  <div class="row">
    <div class="tableWrapper">
      {{#each collection in model}}
        {{view 'collections.preview' collection=collection}}
      {{else}}
        {{#link-to 'collections.new'}}
          New Collection
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</section>
