{{#each app in model}}
  <div class="appWrapper">
    {{link-to '' 'app.info' app classNames='appLink'}}
    <div class="imgArea">
      <img src="https://unsplash.it/104/100?random" width="100%" />
    </div>
    <div class="descArea">
      <h3>
        {{app.name}}
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula scelerisque lectus efficitur feugiat. Pellentesque porta massa vel lacus vulputate, in porta tellus egestas. In hendrerit ligula non tortor varius, vitae consequat augue varius. In ut nisl sed dolor pretium feugiat non vitae justo. Quisque porttitor suscipit tincidunt. Vestibulum condimentum blandit tortor, vel posuere ipsum tincidunt vel. Phasellus orci ipsum, faucibus faucibus molestie a, tincidunt ac urna. Aenean vulputate quam eu rhoncus condimentum.
      </p>
    </div>
    <div class="iconArea">
      <i class="fa fa-check"></i>
    </div>
  </div>
{{/each}}
