<nav id="builderNav">
  <div id="search">
    <i class="fa fa-search"></i><input placeholder="Search" type="text" />
  </div>

  {{#each entity in model}}
    {{view 'entities.details'}}
  {{/each}}

  {{#link-to 'entities.new' class='newtable'}}
    New Entity
  {{/link-to}}
</nav>

<section id="contentHolder">
  <div class="row">
    <div class="tableWrapper">
      {{#each entity in model}}
        {{view 'entities.preview' entity=entity}}
      {{else}}
        {{#link-to 'entities.new'}}
          New Entity
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</section>
