<section id="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Welcome to RestInMe
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form {{action 'authenticate' on='submit'}}>
          <div class="form-group">
            <label for="email-input"> Email address</label>
            {{focus-input id='email-input' class='form-control' placeholder='Enter email' value=identification}}
          </div>
          <div class="form-group">
            <label for="password-input"> Password</label>
            {{input id='password-input' class='form-control' placeholder='Enter Password' type='password' value=password}}
            <div class="center">
              <button class="btn btn-default" type="submit"> Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
