<div id="topbar">
  <h1>
    {{link-to 'RestInMe' 'dashboard'}}
  </h1>
  {{#if session.isAuthenticated}}
    <div id="usericon">
      <i class="fa fa-user" {{action 'invalidateSession'}}></i>
    </div>
  {{/if}}
</div>
